default:
    suites:
        default:
            paths:
                - '%paths.base%/tests/Acceptance/Feature'
            contexts:
                - App\Tests\Acceptance\Context\DbContext
                - App\Tests\Acceptance\Context\FixturesContext
                - App\Tests\Acceptance\Context\InitContext
                - App\Tests\Acceptance\Context\PermissionsContext
                - App\Tests\Acceptance\Context\RepositoryContext
                - App\Tests\Acceptance\Context\UniverseContext
                - App\Tests\Acceptance\Context\Trading\BybitContext
                - App\Tests\Acceptance\Context\Setup\SetupContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
